@import "tailwindcss";

@theme {
  /* --color-*: initial; */
  --color-primary: oklch(0.67 0.13 175.13);
  --color-primary-dark: oklch(0.5 0.04 182.1);
  --color-secondary: oklch(0.67 0.13 200);
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;

  --font-kira-hareng: var(--font-kira-hareng);
  --font-roboto-flex: var(--font-roboto-flex);
}

@layer system {
  /* --- variables --- */
  :root {
    /* related to browser default styles */
    color-scheme: light dark;
  }
  :root:has(input#toggle-theme:checked) {
    .color-filter-invertable {
      filter: invert(0);
    }
  }

  :root:has(input#toggle-theme:not(:checked)) {
    & .color-filter-invertable {
      filter: invert(1);
    }
  }

  @media (prefers-color-scheme: dark) {
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
  }

  [aria-hidden] {
    opacity: 0.8;
    filter: blur(1px);
  }

  [disabled],
  [aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }

  #root {
    height: auto;
    margin: 0 auto;
    padding: 4px;
    display: grid;
    grid-template-columns: max-content 1fr minmax(300px, 0.4fr);
    grid-template-rows: auto auto auto 56px;
    grid-template-areas:
      "b b b"
      "m m m"
      "c c c"
      "a a a";
    gap: 8px;

    container: root / inline-size;
  }

  #root > .main-nav-bar {
    border: 380px solid red;
    border-radius: 8px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    &.protected {
      flex-direction: column;
    }
  }
  #root > .main-nav-bar + header {
    grid-area: b;
    display: flex;
    justify-content: space-between;
  }
  main {
    background-color: rgb(51, 57, 56);
    border-radius: 8px;
    grid-area: m;
  }

  main + aside {
    grid-area: c;
    background-color: rgb(51, 57, 56);
    border-radius: 8px;
  }

  @media (prefers-color-scheme: dark) {
    html {
      & .color-filter-invertable {
        filter: invert(1);
      }
    }
  }
}

@layer utils {
  .blurred-top {
    position: relative;
  }
  .blurred-top::before {
    content: "";
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    backdrop-filter: blur(8px);
  }
}

@layer responsive {
  @media screen and (min-width: 768px) {
    #root {
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "b b b"
        "m m c"
        "a a a";
      height: 100dvh;
      overflow: hidden;
    }

    #root > .main-nav-bar {
      grid-area: a;
      position: static;
      width: unset;
    }
  }

  @media screen and (min-width: 1024px) {
    #root {
      grid-template-areas:
        "b b b"
        "a m c"
        "a m c";
    }
  }
}
