.NavMain {
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
  }

  & > ul > li {
    flex: 1 1 0;
  }
}

.NavMain a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 48px;

  svg {
    fill: white;
    width: 20px;
  }

  &[class="active"] {
    color: var(--color-bermuda) !important;
  }

  &[class="active"] svg {
    fill: var(--color-bermuda) !important;
  }
}

@media screen and (width >= 1024px) {
  .NavMain {
    border-radius: 16px;

    a {
      width: 160px;
    }
    a svg {
      flex: 0 1 48px;
    }

    a span {
      flex: 1 1 0;
      transform: translateX(-8px);
    }
    & > ul {
      flex-direction: column;
    }
  }
}
