.ToggleButton {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  --border-width: 2px;
  cursor: pointer;
}

.ToggleButton::before {
  content: "";
  display: block;
  width: 44px;
  height: 24px;
  border: var(--border-width) solid gray;
  border-radius: 16px;
  transition: all 0.2s ease-out;
}

.ToggleButton::after {
  content: "";
  display: block;
  height: calc(100% - 2 * var(--border-width));
  aspect-ratio: 1;
  background-color: rgba(124, 124, 124, 0.526);
  border-radius: 50%;
  transform: translateX(0%);
  position: absolute;
  top: var(--border-width);
  left: calc(var(--border-width));
  transition: all 0.25s ease-in-out;
}

.ToggleButton:checked::before {
  background-color: blue;
  border-color: blue;
}

.ToggleButton:checked::after {
  left: 100%;
  transform: translateX(calc(-100% - var(--border-width)));
  background-color: rgb(255, 255, 255);
}
