.Popover {
  border-radius: 16px;
  background-color: var(--md-sys-color-surface-bright);
  padding: 16px;
  color: var(--md-sys-color-on-surface);
  min-width: 200px;
  min-height: 200px;
  box-shadow: var(--elevation-light-3);
  position-anchor: --anchor_1;
  top: anchor(--anchor_1 top);
  left: anchor(--anchor_1 left);
  margin: 0;

  --elevation-light-3:
    0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.PopoverToggleBtn {
  anchor-name: --anchor_1;
}
