label {
  /* inline-size: max-content; */
  position: relative;
}

label:has(.floating-label) {
  position: relative;
}

span:has(+ input.floating-label) {
  /* @apply absolute top-0 left-3 text-gray-500 transition-all duration-300 ease-in-out; */
  position: absolute;
  top: 10px;
  left: 0.75rem;
  transform-origin: 0%;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}

span:has(+ input:focus.floating-label),
span:has(+ input:not(:placeholder-shown).floating-label),
span:has(+ textarea:focus.floating-label),
span:has(+ textarea:not(:placeholder-shown).floating-label),
span:has(+ select:focus.floating-label),
span:has(+ select:not([value=""]):valid.floating-label) {
  /* @apply transform; scale-75; -translate-y-6; */
  transform: scale(0.75) translateY(-1rem);
  opacity: 1;
  position: absolute;
}

.form-field-error {
  position: absolute;
  bottom: -1.5rem;
}
