.Dialog::backdrop {
  background-color: rgba(250, 128, 114, 0.477);
}

.Dialog {
  width: 100vw;
  height: 100vh;
  background-color: rgba(44, 42, 41, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--zindex-modal);
  animation: fadeIn 0.5s ease-in-out forwards;
}

.Dialog > button {
  position: absolute;
  top: 24px;
  right: 24px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
